* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem
}

.sentenceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sentence {
  display: flex;
  align-items: center;
  width: 75vw;
  height: 70vh;
  white-space: pre;
  overflow: hidden;
}

#completedLeters {
  margin-left: 35%;
}

#currentLetter {
  background-color: rgba(1,1,1,.2)
}

.right {
  color: rgb(0, 223, 0);
}

.wrong {
  color: red;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.statsContainer {
  margin: 0 auto;
  width: 60vw;
}

.stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media  screen and (max-width: 700px) {
  * {
    font-size: 1.1rem;
  }

  .sentence {
    width: 90vw;
  }

  .statsContainer {
    width: 75vw;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}